@font-face{
    font-family: "Montserrat Medium";
    src: url("related/fonts/Montserrat-Medium.ttf");
}

@font-face{
    font-family: "Montserrat Regular";
    src: url("related/fonts/Montserrat-Regular.ttf");
}

#rootPane{
    -fx-background-color: linear-gradient(rgb(255, 208, 79), rgb(255, 158, 47));
}

#windowTitle{
    -fx-font-family: "Montserrat Medium";
    -fx-font-size: 20px;
}

#filterGrid{
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 12px;
}

#resultLabel, #resultCount{
    -fx-font-family: "Montserrat Medium";
    -fx-font-size: 15px;
}

#resultList{
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 12px;
}

.button{
    -fx-background:none;
}

#backButton{
    -fx-background-image: url("backArrow.png");
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;

    -fx-stroke:rgba(255, 255, 255, 0.9);
    -fx-stroke-width:2px;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.9), 5, 0.5, 0.0, 0.0);
}

#searchButton{
    -fx-background-image: url("eye.png");
    -fx-background-size: 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-stroke:rgba(255, 255, 255, 0.9);
    -fx-stroke-width:2px;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.9), 5, 0.5, 0.0, 0.0);
}

.text-field{
    -fx-prompt-text-font-family: "Montserrat Regular";
    -fx-font-family: "Montserrat Regular";
    -fx-font-size: 12px;
}